body {
    margin: 0;
    padding: 0;   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    box-sizing: border-box;
    
}


header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color:  #ecf00f;
}

.header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;

}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

.nav-logo-container img {
    width: 250px;
    margin-top: 10px;
}

.main-blog {
    display: grid;
    height: 80%;
}

.img-blog {
    width: 90%;
    height: 100%;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 80px;
    

    
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}



nav .profile-link   {
    width: 1000px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: flex-start;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
   
    
    
}

.profile-link a {

    text-decoration: none;
    display: block;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 150px;
   
   
}

footer .footer-container {
    width: 100%;
    height: 150px;
    display: grid;
    background-color: black;
}

.footer-container p  {
    text-decoration: none;
    display: inline;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 80px;
    margin-bottom: px;

}

.footer-container a {
    text-decoration: none;
}
  